
.header{
    padding: 48px 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__title{
    margin: 0;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
}


.header__total{
    margin: 0;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

.header__basket{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #D58C51;
    border-radius: 50%;
    vertical-align: middle;
}

.header__basket img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 592px){
    .header{
        justify-content: center;
    }

    .header__title{
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
}